<link rel="stylesheet" type="text/css" href="./html/index/recommend.css">
<div class="web_new" ng-controller="recommendController">
    <div id="imglazy web_new">
        <div class="cat_recom">
            <div class="cat_re_menu gl_menu">
                <ul>
                    <li class="gl_reco" ng-click="getRecommendSpot('2')">精选特惠</li>
                    <li ng-click="getRecommendSpot('1')">错峰出游推荐</li>
                    <li ng-click="getRecommendSpot('3')">家庭旅游</li>
                    <li ng-click="getRecommendSpot('4')">最新上架</li>
                </ul>
            </div>
            <div class="cat_re_line" id="recom_t">
                <ul>
                    <li ng-repeat="item in recommendList"><p class="re_img" ><a>
                        <img class="scrollLoading" src="/travel/spot/getImage.json?imageUrl={{item.spotImgs[0]}}" width="220" height="120"></a>
                        <span class="re_lnewname">{{item.label}}</span></p><p class="re_cont">
                        <span class="re_title"><a href="#travelDetailView" target="_blank">{{item.spotName}}</a></span>
                        <span class="re_prices"><i>￥</i>{{item.price}}<em>起</em></span>
                        <span class="re_cf">{{item.startPoint}}</span></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $(".gl_menu ul li").click(function(){
            $(".gl_menu ul li").removeClass("gl_reco");
            $(this).addClass("gl_reco");
        });
    });
</script>