<div class="contentBox" id="contentBox">
    <div class="warp contentBoxmain">
        <div class="zcbox">
            <form id="RegFrm" action="https://my.springtour.com/Member/Register" method="post" ng-controller="registerController">
                <input type="hidden" value="0" id="RegFlag" name="RegFlag">
                <div class="zc_tab">
                    <a class="on" href="javascript:">手机注册<span class="phone"></span>
                        <i class="arr"></i><i class="tab_line"></i></a>
                    <a class="" href="javascript:">邮箱注册<span class="mail"></span>
                        <i class="arr"></i></a>
                </div>
                    <!--手机注册-->
                    <div class="zcbox_main zcbox_phone" id="regPhonePanel">
                        <span style="display: none" class="err">密码与用户名不符合<i></i></span>
                        <ul>
                            <li>
                                <span>手机号码：</span><span class="rt">
                                    <input class="input" placeholder="11位手机号码" id="RegPhone" ng-model="mobile" type="text" maxlength="11" >
                                </span>
                            </li>
                            <li><span>验证码：</span><span class="rt yzm">  
                                    <input placeholder="请填写验证码" id="CheckCode1" name="CheckCode1" ng-model="yzm" class="input" type="text" maxlength="4">
                                    <img class="yzm_img" id="imgCC1" src="">
                                    <a class="yzm_a" style="color: Gray" href="javascript:" id="changepic_btn1" >换一张</a>
                                </span> 
                            </li>
                            <li>
                                <span>密码：</span><span class="rt">
                                    <input placeholder="8-16个字符" class="input" id="RegistPasswordPhone" ng-model="password" type="password" maxlength="16">
                                </span>
                            </li>
                            <li>
                                <span>确认密码：</span><span class="rt">
                                    <input placeholder="请再次填写密码" class="input" id="ConfirmPasswordPhone" ng-model="password2" type="password" maxlength="16">
                                </span>
                            </li>
                        </ul>
                        <div class="wjma">
                            <label>
                                <input id="ckbPhone" name="ckbPhone" type="checkbox" value="">我愿意接受
                                <a class="clause" href="javascript:void(0);">春秋旅游网服务条款</a>
                            </label>
                        </div>
                        <a class="lg_btn" id="regPhoneBtn" href="javascript:" ng-click="registerFromServer()">注 册</a>
                        <span class="lg_zc">已经注册？<a href="">马上登录</a></span>
                    </div>
                    <!--邮箱注册-->
                    <div class="zcbox_main zcbox_mail" id="regMailPanel" style="display:none">
                        <span style="display: none" class="err">密码与用户名不符合<i></i></span>
                        <ul>
                            <li>
                                <span>邮箱地址：</span><span class="rt">
                                    <input placeholder="请填写邮箱地址" class="input" id="RegEmail" name="RegEmail" maxlength="50" type="text" data-checkphoneurl="https://my.springtour.com/Member/CheckNameIsRegister">
                                </span>
                            </li>
                            <li>
                                <span>密码：</span><span class="rt">
                                                    <input placeholder="8-16个字符" class="input" id="RegistPassword" name="RegistPassword" type="password" maxlength="16">
                                </span>
                            </li>
                            <li>
                                <span>确认密码：</span><span class="rt">
                                    <input placeholder="请再次填写密码" class="input" id="ConfirmPassword" name="ConfirmPassword" type="password" maxlength="16">
                                </span>
                            </li>
                            <li>
                                <span>验证码：</span><span class="rt yzm">
                                    <input class="input" id="CheckCode" name="CheckCode" type="text" maxlength="4" placeholder="请填写验证码">
                                    <img align="absmiddle" alt="" class="yzm_img" id="imgCC1" src="">
                                    <a class="yzm_a" style="color: Gray" href="javascript:" id="changepic_btn">换一张</a>
                                </span>
                            </li>
                        </ul>
                        <div class="wjma">
                            <label>
                                <input id="ckbEmail" name="ckbEmail" type="checkbox" value="">我愿意接受
                                <a class="clause" href="javascript:void(0);">春秋旅游网服务条款</a>
                            </label>
                        </div>
                        <a class="lg_btn" id="regEmailBtn" href="javascript:" >注 册</a>
                        <span class="lg_zc">已经注册？<a href="https://my.springtour.com/Member/Login">马上登录</a></span>
                </div>
            </form>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div title="DialogMessage" id="dialog-message">
    <p style="padding-top: 10px; font-size: 13px; text-align: center" id="errMessage">
    </p>
</div>