@charset "utf-8";

body {text-align: left;font: 12px/20px arial, tahoma, "宋体", MS Gothic, sans-serif;color: #666;background-color: #fff;}
input,
button,
select,
textarea {outline: none}
/* Form Style */
form {display: block;}
label {font: menu;font: 100%;color: #444;}
.input{ border:1px solid #d7d7d6; height:38px; font:14px/38px "微软雅黑"; width:236px; padding:0 3px;}
.input:hover{ border:1px solid #085; box-shadow:0px 0px 5px #085}
.header{ border-bottom:1px solid #dbdedf; box-shadow:2px 2px 2px rgba(0, 0, 0, 0.1)}
.header .warp{ padding-top:20px; height:65px; clear:both}
.contentBoxmain{ position:relative;}
.contentBox { background: #e9e9e9 url(../../../images/bdbg.gif);padding-bottom: 30px;box-shadow: 0 7px 5px rgba(0, 0, 0, 0.1);clear: both;padding-top: 17px;}
.zcbox{ background-color:#FFF; width: 500px; padding:10px 0px; text-align:left; margin-left:355px;box-shadow:0px 2px 2px rgba(0, 0, 0, 0.1); position:relative}
.zcbox li{ height:40px; padding-top:20px; position:relative;_padding-top:10px; }
.zcbox .input{ padding:0 20px; background-color:#FFF; width:280px}
.zcbox .focus .input{ border-color:#085}
.zcbox li.lab{ height:20px; padding-top:10px}
.zc_tab{ float:left; height:53px; width:100%; color:#666; font:normal 20px/49px "微软雅黑";text-align:center; padding-left:40px; position:relative }
.zcbox_main{ padding:20px; position:relative;}
.zcbox_main li span{ float:left; width:89px;font:14px/40px "微软雅黑"; text-align:right; padding-right:5px;}
.zcbox_main li span.rt{ width:360px; text-align:left}.zcbox_main li span.rt label{ color:#999}
a.lg_btn{  height:40px;background-color:#008857; color:#fff; font:18px/40px "微软雅黑"; text-align:center;
 border-radius:3px; display:block; margin-left:94px; width:320px}
a.lg_btn:hover{background-color:#28a678; color:#fff; text-decoration:none}
.lg_zc{ text-align:right; display:block; line-height:50px; margin-bottom:40px; margin-right:45px} .lg_zc a{ color:#f60}
a.yzm_phone{ display:inline-block; line-height:38px; text-decoration:none; border:1px solid #ffd1b2; padding:0 10px; background-color:#ffefe5; margin-right:10px; border-radius:3px; color:#f60; vertical-align:middle}
a.yzm_phoneDisEnable { background:#ccc; color:#ebf0f2; cursor:auto; border:1px solid #999; display:inline-block; line-height:38px; text-decoration:none;padding:0 10px;margin-right:10px; border-radius:3px;}
a.hui{color:#aaaaaa; border:1px solid #e5e5e5;background-color:#f5f5f5; }
.zcbox .yzm input{ width:112px; padding:0 20px; vertical-align:middle; margin-right:10px}
.yzm img{ display:inline-block; border:1px solid #efefef; vertical-align:middle; margin:0 10px 0 0}
.zcbox_main span.err{background-color: #FDE8E9; border:1px solid #e51616; color: #444444;font-weight: normal; height: 24px;left:114px;    line-height: 24px;    padding-right: 10px;    position: absolute;    text-indent: 28px; top: 13px;
    width: 310px;}
.zcbox_main span.err i {background: url("../../../images/home_icon.png") no-repeat scroll -93px -347px rgba(0, 0, 0, 0);display: block;
height: 17px;left: 0;margin: 4px 0 0 5px;position: absolute;top: 0;width: 17px;}