<div class="contentBox" id="contentBox">
        <div class="zcbox">
            <form id="RegFrm" method="post" ng-controller="userCenterController">
                <div class="zc_tab">
                   用户中心
                </div>
                <!--手机注册-->
                <div class="zcbox_main" id="regPhonePanel">
                    <ul>
                        <li>
                            <span>用户姓名：</span><span class="rt">
                                <input class="input" placeholder="用户姓名" ng-model="mobile" type="text" >
                            </span>
                        </li>
                        <li>
                            <span>昵称：</span><span class="rt">
                                <input class="input" placeholder="昵称" ng-model="mobile" type="text" >
                            </span>
                        </li>
                        <li>
                            <span>性别：</span><span class="rt">
                                <input class="input" placeholder="性别" ng-model="mobile" type="text" >
                            </span>
                        </li>
                        <li>
                            <span>地址：</span><span class="rt">
                                <input class="input" placeholder="地址" ng-model="mobile" type="text" >
                            </span>
                        </li>
                        <li>
                            <span>身份证号：</span><span class="rt">
                                <input class="input" placeholder="身份证号" ng-model="mobile" type="text" >
                            </span>
                        </li>
                        <li>
                            <span></span><span class="rt">
                                <a class="lg_btn" id="regPhoneBtn" href="javascript:">修 改</a>
                            </span>
                        </li>

                    </ul>

                </div>
            </form>
        </div>
</div>