<div class="gl_foot clears">
    <div class="cat_w_foot">
        <div class="gl_foot_l">
            <p class="gl_f_ab">
                <a href="/info/1"  rel="nofollow" target="_blank">关于我们</a>
                <a href="/info/11" rel="nofollow" target="_blank">联系我们</a>
                <a href="/info/5" target="_blank" rel="nofollow">免责声明</a>
                <a href="/info/10" rel="nofollow" target="_blank">付款方式</a>
                <a href="/info/sitemap.htm" rel="nofollow" target="_blank">网站地图</a>  &nbsp; &nbsp; &nbsp; Copyright &copy; 2019  &nbsp; 沪ICP备180456456号-1</p>
            <p class="l_cooperate">
                <img src="images/travel-2.jpg" >
                <img src="images/travel-3.jpg" >
                <img src="images/travel-4.jpg" >
                <img src="images/travel-6.jpg" >
                <img src="images/travel-7.jpg" >
                <img src="images/travel-8.jpg" >
                <img src="images/travel-11.jpg" >
            </p>
        </div>
    </div>
</div>
<div class="cat_w_foot">
    <div class="flink">
        <span>出国旅游：</span>
        <div class="f_more">
            <a target="_blank" title="欧洲旅游" href="/ouzhou_t/">欧洲旅游</a>
            <a target="_blank" title="法国旅游" href="/guide/france.htm">法国旅游</a>
            <a target="_blank" title="瑞士旅游" href="/guide/switzerland.htm">瑞士旅游</a>
            <a target="_blank" title="德国旅游" href="/guide/germany.htm">德国旅游</a>
            <a target="_blank" title="意大利旅游" href="/guide/italy.htm">意大利旅游</a>
            <a target="_blank" title="济州岛旅游" href="/guide/jizhoudao.htm">济州岛旅游</a>
            <a target="_blank" title="韩国旅游" href="/guide/southkorea.htm">韩国旅游</a>
            <a target="_blank" title="日本旅游" href="/guide/japan.htm">日本旅游</a>
            <a target="_blank" title="英国旅游" href="/guide/britain.htm">英国旅游</a>
            <a target="_blank" title="泰国旅游" href="/guide/thailand.htm">泰国旅游</a>
            <a target="_blank" title="普吉岛旅游" href="/guide/phuket.htm">普吉岛旅游</a>
            <a target="_blank" title="巴厘岛旅游" href="/guide/bali.htm">巴厘岛旅游</a>
            <a target="_blank" title="柬埔寨旅游" href="/guide/cambodia.htm">柬埔寨旅游</a>
            <a target="_blank" title="马尔代夫旅游" href="/guide/maldives.htm">马尔代夫</a>
            <a target="_blank" title="马来西亚旅游" href="/guide/malaysia.htm">马来西亚</a>
            <a target="_blank" title="澳大利亚旅游" href="/guide/australia.htm">澳大利亚</a>
            <a target="_blank" title="美国旅游" href="/guide/usa.htm">美国旅游</a>
            <a target="_blank" title="菲律宾旅游" href="/guide/philippines.htm">菲律宾旅游</a>
            <a target="_blank" title="新加坡旅游" href="/guide/singapore.htm">新加坡旅游</a>
            <a target="_blank" title="俄罗斯旅游" href="/guide/russia.htm">俄罗斯旅游</a>
            <a target="_blank" title="香港旅游" href="/guide/hongkong.htm">香港旅游</a>
            <a target="_blank" title="台湾旅游" href="/guide/taiwan.htm">台湾旅游</a>
            <a target="_blank" title="东欧旅游" href="/guide/dongou.htm">东欧旅游</a>
            <a target="_blank" title="迪拜旅游" href="/guide/dibailvyou.htm">迪拜旅游</a>
            <a target="_blank" title="北欧旅游" href="/guide/beiou.htm">北欧旅游</a>
            <a target="_blank" title="土耳其旅游" href="/guide/turkey.htm">土耳其旅游</a>
            <a target="_blank" title="夏威夷旅游" href="/guide/xiaweiyi.htm">夏威夷旅游</a>
        </div>
    </div>
    <div class="flink">
        <span>国内旅游：</span>
        <div class="f_more">
            <a target="_blank" title="北京旅游" href="/guide/beijing.htm">北京旅游</a>
            <a target="_blank" title="昆明旅游" href="/guide/kunming.htm">昆明旅游</a>
            <a target="_blank" title="大理旅游" href="/guide/dali.htm">大理旅游</a>
            <a target="_blank" title="丽江旅游" href="/guide/lijiang.htm">丽江旅游</a>
            <a target="_blank" title="海口旅游" href="/guide/haikou.htm">海口旅游</a>
            <a target="_blank" title="张家界旅游" href="/guide/zhangjiajie.htm">张家界旅游</a>
            <a target="_blank" title="九寨沟旅游" href="/guide/jiuzhaigou.htm">九寨沟旅游</a>
            <a target="_blank" title="三亚旅游" href="/guide/sanya.htm">三亚旅游</a>
            <a target="_blank" title="桂林旅游" href="/guide/guilin.htm">桂林旅游</a>
            <a target="_blank" title="阳朔旅游" href="/guide/yangshuo.htm">阳朔旅游</a>
            <a target="_blank" title="凤凰古城旅游" href="/guide/fenghuanggucheng.htm">凤凰古城</a>
            <a target="_blank" title="厦门旅游" href="/guide/xiamen.htm">厦门旅游</a>
            <a target="_blank" title="武夷山旅游" href="/guide/wuyishan.htm">武夷山旅游</a>
            <a target="_blank" title="雁荡山旅游" href="/guide/yandangshan.htm">雁荡山旅游</a>
            <a target="_blank" title="新疆旅游" href="/xinjiang_t/">新疆旅游</a>
            <a target="_blank" title="西安旅游" href="/guide/xian.htm">西安旅游</a>
            <a target="_blank" title="杭州旅游" href="/guide/hangzhou.htm">杭州旅游</a>
            <a target="_blank" title="西湖旅游" href="/guide/xihu.htm">西湖旅游</a>
            <a target="_blank" title="乌镇旅游" href="/guide/wuzhen.htm">乌镇旅游</a>
            <a target="_blank" title="千岛湖旅游" href="/guide/qiandaohu.htm">千岛湖旅游</a>
            <a target="_blank" title="普陀山旅游" href="/guide/putuoshan.htm">普陀山旅游</a>
            <a target="_blank" title="西藏旅游" href="/xizang_t/">西藏旅游</a>
            <a target="_blank" title="苏州旅游" href="/guide/suzhou.htm">苏州旅游</a>
            <a target="_blank" title="周庄旅游" href="/guide/zhouzhuang.htm">周庄旅游</a>
            <a target="_blank" title="婺源旅游" href="/guide/wuyuan.htm">婺源旅游</a>
            <a target="_blank" title="庐山旅游" href="/guide/lushan.htm">庐山旅游</a>
            <a target="_blank" title="黄山旅游" href="/guide/huangshan.htm">黄山旅游</a>
            <a target="_blank" title="天目湖旅游" href="/guide/tianmuhu.htm">天目湖旅游</a>
        </div>
    </div>
    <div class="flink">
        <span>主题旅游：</span>
        <a href="/holiday/yuandan/" target="_blank" title="元旦旅游">元旦旅游</a>
        <a href="/zt/chunjie/" target="_blank" title="春节旅游">春节旅游</a>
        <a href="/zt/sanba/" target="_blank" title="三八旅游">三八旅游</a>
        <a href="/zt/qingming/" target="_blank" title="清明旅游">清明旅游</a>
        <a href="/zt/51wuyi/" target="_blank" title="五一旅游">五一旅游</a>
        <a href="/zt/duanwu/" target="_blank" title="端午旅游">端午旅游</a>
        <a href="/zt/zhongqiu/" target="_blank" title="中秋旅游">中秋旅游</a>
        <a href="/zt/shiyi/" target="_blank" title="国庆旅游">国庆旅游</a>
        <a href="/zt/shiyi/" target="_blank" title="十一旅游">十一旅游</a>
        <a href="/holiday/wenquan/" target="_blank" title="温泉旅游">温泉旅游</a>
        <a href="/zt/qiutian/" target="_blank" title="秋天旅游">秋天旅游</a>
        <a href="/zt/shujia/" target="_blank" title="暑假旅游">暑假旅游</a>
        <a href="/zt/miyue/" target="_blank" title="蜜月旅游">蜜月旅游</a>
        <a href="/zt/piaoliu/" target="_blank" title="漂流旅游">漂流旅游</a>
        <a href="/zt/gouwu/" target="_blank" title="购物旅游">购物旅游</a>
        <a href="/zt/qinzi/" target="_blank" title="亲子旅游">亲子旅游</a>
        <a href="/zt/zhuanlie/" target="_blank" title="专列旅游">专列旅游</a>
        <a href="/zt/yinghua/" target="_blank" title="樱花旅游">樱花旅游</a>
        <a href="/faxian/" target="_blank" title="特价旅游">特价旅游</a>
        <a href="/zt/guzhen/" target="_blank" title="古镇旅游">古镇旅游</a>
        <a href="/zt/hongse/" target="_blank" title="红色旅游">红色旅游</a>
    </div>

    <div class="footer">
        <span class="beian">
            <img src="images/7.jpg" alt="举报中心">
            <img src="images/8.jpg" alt="网络110">
            <img src="images/f1.jpg" alt="企业营业执照认证">
            <img src="images/f2.jpg" alt="上海工商照亮">
            <img src="images/f3.jpg" alt="支付宝特约商家">
            <img src="images/f5.jpg" alt="中国旅行社会员单位">
            <img src="images/f6.jpg?v=1" alt="银联在线">
        </span>
    </div>
    <div class="flink">
        <span>友情链接：</span>
        <div class="f_more"><a href="http://www.qnly.com/"  target="_blank" >西藏旅行社</a>
            <a href="http://www.qudunhuang.com"  target="_blank" >敦煌旅游</a>
            <a href="http://www.ctsgx.com/"  target="_blank" >广西中国旅行社</a>
            <a href="http://www.qikaijigou.com"  target="_blank" >旅游规划设计</a>
            <a href="http://www.3xiayou.com/"  target="_blank" >重庆三峡旅游</a>
            <a href="http://www.sh-cits.cn"  target="_blank" >上海旅行社</a>
            <a href="http://www.top6000.cn/"  target="_blank" >摄影旅游</a>
            <a href="http://www.zuibeiou.com"  target="_blank" >北欧旅游</a>
            <a href="http://www.chihuoclub.com"  target="_blank" >吃货俱乐部</a>
            <a href="http://www.sh-cits.cn"  target="_blank" >上海国旅</a>
            <a href="http://www.cytsxz.com/"  target="_blank" >拉萨旅行社</a>
            <a href="http://www.xmyiriyou.com"  target="_blank" >鼓浪屿跟团游</a>
            <a href="http://www.sh-cits.cn/"  target="_blank" >上海国际旅行社</a>
            <a href="http://www.sh-cits.cn/"  target="_blank" >国旅上海</a>
        </div>
    </div>
</div>