<div class="header">
    <div class="new_c_top">
        <ul>
            <li class="headleft" id="usercheck">
                <a target="_blank" rel="nofollow">旅行社业务许可证：H-LH-JY0099998</a>
                <a id="collectweb">收藏本站</a>
            </li>
            <li class="headright">
                <div class="t_right">
                    <dl><a href="javascript:;" ui-sref="index" ng-click="route('/registerManage')">返回主页</a> |
                        <a href="javascript:;" ui-sref="register" ng-click="route('/registerManage')">注册</a> | 
                        <a href="javascript:;" ui-sref="loginView" ng-click="route('/salerManage')">登录</a>
                    </dl>
                </div>
                <div class="t_left"></div>
            </li>
        </ul>
    </div>
</div>