<div class="header">
    <div class="new_c_top">
        <ul>
            <li class="headleft" id="usercheck">
                <a target="_blank" href="/info/4" rel="nofollow">旅行社业务许可证：H-LH-JY0099998</a>
                <a id="collectweb">收藏本站</a>
            </li>
            <li class="headright">
                <div class="t_right">
                    <dl>
                        <dt>网站导航<i></i></dt>
                        <dd>
                            <p><span>服务</span>
                                <a target="_blank" href="/ouzhou_t/">欧洲旅游</a>
                                <a target="_blank" href="/meizhou_t/">美洲旅游</a>
                                <a target="_blank" href="/aozhou_t/">澳洲旅游</a>
                                <a target="_blank" href="/rihan_t/">日韩旅游</a>
                                <a target="_blank" href="/feizhou_t/">中东非游</a>
                                <a target="_blank" href="/dongnanya_t/">东南亚游</a>
                                <a target="_blank" href="/youlun/">邮轮旅游</a>
                                <a target="_blank" href="/zt/haidao/">海岛旅游</a>
                                <a target="_blank" href="/diybook/type=c">公司定制</a>
                                <a target="_blank" href="/diybook">私人定制</a>
                                <a target="_blank" href="/hometravel.htm">国内旅游</a>
                                <a target="_blank" href="/travelnear.htm">上海周边</a>
                                <a target="_blank" href="/zt/">主题旅游</a>
                                <a target="_blank" href="/visa/">签证办理</a>
                            </p>
                            <p class="noneline"><span>提醒</span>
                                <a target="_blank" href="/info/3">报名须知</a>
                                <a target="_blank" href="/info/11">联系我们</a>
                            </p>
                        </dd>
                    </dl>
                </div>
                <div class="t_left"></div>
            </li>
        </ul>
    </div>
</div>