<div class="header" ng-controller="headerController">
    <div class="new_c_top">
        <ul>
            <li class="headleft" id="usercheck">
                <a target="_blank" rel="nofollow">旅行社业务许可证：H-LH-JY0099998</a>
                <a id="collectweb">收藏本站</a>
            </li>
            <li class="headright">
                <div class="t_right">
                    <dl><a ui-sref="index">返回主页</a>
                        <a ui-sref="userCenterView">欢迎</a>
                        <a ui-sref="register" ng-if="!isLogin">注册</a>
                        <a ui-sref="loginView" ng-if="!isLogin">登录</a>
                        <a ui-sref="userCenterView" ng-if="isLogin">{{loginUser}},欢迎您！</a>
                        <a ng-if="isLogin" ng-click="loginOut()">退出</a>
                    </dl>
                </div>
                <div class="t_left"></div>
            </li>
        </ul>
    </div>
</div>