<div class="result-wrap">
    <div class="result-title">
       	修改密码
    </div>
    <div class="result-content">
    	<table class="result-tab" width="100%">
    		<tr>
    			<th class="tc" width="30%">用户名</th>
    			<td class="tc" width="30%"><input type="text" ng-model="user.username" readonly="readonly"></td>
    			<td class="tc">
                    <span class="red">不可修改</span>
                </td>
    		</tr>
    		<tr>
    			<th class="tc">原密码</th>
    			<td class="tc"><input type="password" name="password" ng-model="user.password" size="20" class="common-text" placeholder="请输入旧密码" required></td>
    			<td class="tc">
                    <span class="red" ng-show="editForm.password.$error.required">请输入</span>
                    <span class="red" ng-show="editForm.password.$error.maxlength">最大长度20</span>
                </td>
    		</tr>
    		<tr>
    			<th class="tc">新密码</th>
    			<td class="tc"><input type="password" name="newpassword" ng-model="user.newpassword" size="20" class="common-text" placeholder="请输入新密码" required></td>
    			<td class="tc">
                    <span class="red" ng-show="editForm.newpassword.$error.required">请输入</span>
                    <span class="red" ng-show="editForm.newpassword.$error.maxlength">最大长度20</span>
                </td>
    		</tr>
    		<tr>
    			<th class="tc">新密码重复</th>
    			<td class="tc"><input type="password" name="repassword" ng-model="user.repassword" size="20" class="common-text" placeholder="请再输一次" required></td>
    			<td class="tc">
                    <span class="red" ng-show="editForm.repassword.$error.required">请输入</span>
                    <span class="red" ng-show="editForm.repassword.$error.maxlength">最大长度20</span>
                </td>
    		</tr>
    		<tr>
    			<td colspan="3" class="tc">
                    <input type="button" ng-click="save()" value="确认" class="btn btn-primary">
                    <input type="button" ng-click="" value="取消" class="btn btn-primary">
    			</td>
    		</tr>
    	</table>
    </div>
</div>